Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
firebase_admin==6.2.0
python-dotenv==1.0.0
psycopg2-binary==2.9.7
gdown
opencv-python-headless
networkx
transformers
sentencepiece
paddleocr
pdf2image
fastapi[uvicorn]
pymupdf
matplotlib
uvicorn
paddlepaddle==2.4.2
python-multipart
# fitz
frontend
numpy==1.23
easyocr
Pillow==9.5.0
sacremoses